<ion-header>
	<ion-navbar color="primary">
		<ion-title>Страница входа</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<img src="assets/img/logo.png" class="auth-img">
	
	<form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
		<ion-item>
			<ion-label stacked>Email</ion-label>
			<ion-input 
				formControlName="email" 
				type="email" 
				placeholder="Адрес электронной почты" 
				[class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"
			></ion-input>
		</ion-item>

		<ion-item class="error-message"
			*ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
			<p>Введите корректный e-mail</p>
		</ion-item>

		<ion-item>
			<ion-label stacked>Password</ion-label>
			<ion-input 
				formControlName="password"  
				type="password" 
				placeholder="Ваш пароль" 
				[class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"
			></ion-input>
		</ion-item>

		<ion-item 
			class="error-message"
			*ngIf="!loginForm.controls.password.valid &&loginForm.controls.password.dirty"
		>
			<p>Минимум 6 знаков!</p>
		</ion-item>

		<button ion-button block type="submit" [disabled]="!loginForm.valid">Войти</button>
	</form>

	<button ion-button block clear (click)="goToResetPassword()">Я зыбыл(а) пароль :-(</button>
</ion-content>