<ion-header>
  <ion-navbar color="primary">
    <ion-title>Новый займ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="newBillForm" (submit)="createBill()" novalidate>
    <ion-item>
      <ion-label stacked>Название</ion-label>
      <ion-input formControlName="name" type="text" placeholder="Придумайте название" 
        [class.invalid]="!newBillForm.controls.name.valid && newBillForm.controls.name.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!newBillForm.controls.name.valid && newBillForm.controls.name.dirty">
      <p>Напишите название займа</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Сумма</ion-label>
      <ion-input formControlName="amount" type="number" placeholder="Как много хотите возвращать?" 
        [class.invalid]="!newBillForm.controls.amount.valid && newBillForm.controls.amount.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!newBillForm.controls.amount.valid && newBillForm.controls.amount.dirty">
      <p>Укажите сумму займа</p>
    </ion-item>

    <ion-item>
      <ion-label>Взято до</ion-label>
      <ion-datetime displayFormat="D MMM, YY" pickerFormat="DD MMM YYYY" formControlName="dueDate" 
        max="2020-10-31" [class.invalid]="!newBillForm.controls.dueDate.valid 
        && newBillForm.controls.dueDate.dirty">
    </ion-datetime>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!newBillForm.controls.dueDate.valid && newBillForm.controls.dueDate.dirty">
      <p>Когда собираетесь вернуть?</p>
    </ion-item>

    <button ion-button block type="submit">
      Создать запись о займе
    </button>
  </form>
</ion-content>