<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			Регистрация
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<img src="assets/img/logo.png" class="auth-img">
	
	<form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
		<ion-item>
			<ion-label stacked>Email</ion-label>
				<ion-input formControlName="email" type="email"
				placeholder="Ваш адрес электронной почты"
				[class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
			</ion-input>
		</ion-item>
		
		<ion-item class="error-message"
			*ngIf="!signupForm.controls.email.valid &&
			signupForm.controls.email.dirty">
			<p>Введите корректный e-mail</p>
		</ion-item>

		<ion-item>
			<ion-label stacked>Пароль</ion-label>
				<ion-input formControlName="password" type="password"
				placeholder="Ваш пароль"
				[class.invalid]="!signupForm.controls.password.valid &&
				signupForm.controls.password.dirty">
			</ion-input>
		</ion-item>
		
		<ion-item class="error-message"
			*ngIf="!signupForm.controls.password.valid &&
			signupForm.controls.password.dirty">
			<p>Минимум 6 знаков!</p>
		</ion-item>
		
		<button ion-button block type="submit" [disabled]="!signupForm.valid">
			Зарегистрироваться
		</button>
	</form>
</ion-content>